@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*********/
/* Fonts */
/*********/
.kurale {
    font-family: kurale;
}

/***************/
/* Breadcrumbs */
/***************/
.breadcrumb {
    border-color: transparent;
    border-width: 1px;
    list-style: none;
    margin: 0;
    overflow: hidden;
}
.breadcrumb li {
    float: left;
}
.breadcrumb li a {
    background: white;
    color: rgb(107 114 128);
    display: block;
    float: left;
    font-size: 0.875rem;
    padding: 0.375rem 0 0.375rem 1.5rem;
    position: relative;
    text-decoration: none;
}
.breadcrumb li a:hover {
    background: rgba(199 210 254);
    color: rgb(55 65 81);
}
.breadcrumb li a::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent; /* Go big on the size, and let overflow hide */
    border-bottom: 20px solid transparent;
    border-left: 15px solid white;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 100%;
    z-index: 2;
}
.breadcrumb li a:hover::after {
    border-left: 15px solid rgba(199 210 254);
}
.breadcrumb li a::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid rgb(107 114 128);
    position: absolute;
    top: 50%;
    margin-top: -20px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
.breadcrumb li a:hover::before {
    margin-left: 0;
}
.breadcrumb li:first-child a {
    color: rgb(107 114 128);
    padding-left: 10px;
    border-radius: 0.375rem 0 0 0.375rem;
}
.breadcrumb li:last-child a {
    padding-right: 5px;
    border-radius: 0 0.375rem 0.375rem 0;
}
.breadcrumb li:last-child a:before {
    border: 0;
}
.breadcrumb li:last-child a:after {
    border: 0;
}
.breadcrumb li:last-child a i {
    color: rgb(148 163 184);
}
.breadcrumb li:last-child a:hover i {
    color: #ff5722;
}
.breadcrumb li:only-child a {
    color: rgb(107 114 128);
    border-radius: 0.375rem;
    padding-right: 10px;
}

[x-cloak] { display: none !important; }

/*********************/
/* Dashboard buttons */
/*********************/
/*
.btnDashboard {
    background-color: rgb(229, 231, 235);
    border-color: rgb(209 213 219);
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 2px;
    color: rgb(31 41 55);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem 0.25rem 1rem;
    text-align: center;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.5);
}
.btnDashboard:hover {
    background-color: rgb(199 210 254);
    border-color: rgb(165 180 252);
}
.btnDashboard p {
    padding-top: 0.25rem;
}
.btnDashboard svg {
    fill: rgb(31 41 55);
    width: 80px;
}
*/
